.header {
	margin-bottom: 80px;
	padding: 20px 0;
	border-bottom: 2px solid #888;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
}
.wrapper img {
	width: 50%;
}
.content {
	padding: 80px 40px;
	width: 50%;
}
p {
	margin-bottom: 30px;
}
